/* This file contains main colors for the website */

:root {
  --gray-0: #ffffff;
  --gray-100: #F7F7F9;
  --gray-150: #F0F0F5;
  --gray-200: #D6D6D8;
  --gray-300: #B5B6B8;
  --gray-400: #949597;
  --gray-500: #737476;
  --gray-600: #525355;
  --gray-700: #313335;
  --gray-750: #242628;
  --gray-800: #101214;

  --primary-100: #0a66c2;
}