/* This file contains main colors for the website */

:root {
  --gray-0: hsl(0 0% 100%);
  --gray-100: hsl(240 14% 97%);
  --gray-150: hsl(240 20% 95%);
  --gray-200: hsl(240 2% 84%);
  --gray-300: hsl(220 2% 72%);
  --gray-400: hsl(220 1% 59%);
  --gray-500: hsl(220 1% 46%);
  --gray-600: hsl(220 2% 33%);
  --gray-700: hsl(210 4% 20%);
  --gray-750: hsl(210 5% 15%);
  --gray-800: hsl(210 11% 7%);

  /* --primary-100: hsl(214, 59%, 77%);
  --primary-500: hsl(210, 90%, 40%); */

  --primary-50: hsl(195.29, 100%, 90%);
  --primary-100: hsl(198.95, 100%, 81.37%);
  --primary-200: hsl(202.45, 98.58%, 72.35%);
  --primary-300: hsl(206.23, 97.86%, 63.33%);
  --primary-400: hsl(209.48, 95.83%, 52.94%);
  --primary-500: hsl(214.47, 100%, 44.71%);
  --primary-600: hsl(218.27, 100%, 36.27%);
  --primary-700: hsl(221.96, 100%, 28.04%);
  --primary-800: hsl(225.45, 100%, 19.41%);
}

/* Color coding & branding */

.linkedin {
  --core-color: hsl(210 90% 40%);
}

.dribbble {
  --core-color: hsl(337 79% 61%);
}

.figma {
  --core-color: hsl(241 100% 66%);
}

.csr {
  --core-color: hsl(200 94% 35%);
}

.ehr {
  --core-color: hsl(120 73% 40%);
}

.lms {
  --core-color: hsl(26 95% 46%);
}

.linkedin,
.dribbble,
.figma,
.csr,
.ehr,
.lms {
  --bg-color: hsl(from var(--core-color) h s 97%);

  --outline-color: hsl(from var(--core-color) h s 85%);

  --shadow-color:
    0 8px 20px hsl(from var(--core-color) h s l / 0.15),
    0 0px 2px hsl(from var(--core-color) h s l / 0.2);
}