.project {
    /* display: grid; */
    /* grid-template-rows: subgrid; */
    padding: 0;
    background-color: var(--bg-secondary);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 1em;
    border: 1px solid hsl(from var(--gray-200) h s l / 0.5);
    /* padding: 1.5em 2em; */
    text-decoration: none;
    /* align-items:center; */
    transition: background-color 1s var(--card-ease), border-color 1s var(--card-ease), box-shadow 1s var(--card-ease);
    overflow: hidden;

    @supports (corner-shape: squircle) {
        border-radius: 2em;
        corner-shape: squircle;
    }

    /* img {
        border-radius: calc(var(--corners) - 0.5em);
    } */

    h3 {
        margin-block: 0.25rem 0.5em;
    }

    p {
        color: var(--text-color-secondary);
    }

    > * {
        align-self: start;
    }

    .illustration {
        border-radius: 0;
        box-shadow: none;
    }
}

.project .description {
    padding: 1em 2em;
}

.product-name {
    font-size: 0.875em;
    color: var(--text-color-secondary);
    /* margin-block-end: 0.75em; */
}


.color-coded:hover {
    background-color: var(--bg-color);
    border-color: var(--outline-color);

    /* .illustration {
        box-shadow: var(--shadow-color);
    } */

    .icon-wrapper {
        box-shadow: 0 8px 12px hsl(from var(--core-color) h s l / 0.1);
    }
}

.link-block:hover .jumping-icon {
    animation: icon-jump 0.5s cubic-bezier(.4,0,.2,1);
}

/* .project > .cover-pile, 
.project > .illustration {
    margin-block-end: -4em;
    width: 130%;
    max-width: none;
} */

/* .project > .illustration,
.project > .cover-pile > .illustration {
    border-radius: 0.5em;
} */

@keyframes icon-jump {
  0%   { transform: translateY(0); }
  35%  { transform: translateY(-0.5em); }
  60%  { transform: translateY(0); }
  80%  { transform: translateY(-0.2em); }
  100% { transform: translateY(0); }
}

/* .project > .cover-pile {
    display: flex;
    flex-direction: row;
    width: 150%;

    .illustration {
        width: 80%;
    }
} */

/* .cover-pile img {
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.cover-pile img:not(:last-of-type) {
    margin-right: -70%;
}

.project:hover img:not(:last-of-type) {
    margin-right: -65%;
}

.cover-pile:has(img:last-of-type:hover) img:not(:last-of-type) {
    margin-right: -75%;
}

.cover-pile img:not(:last-of-type):hover {
    margin-right: -20%;
}

.cover-pile:has(img:first-of-type:hover) img:is(:nth-child(2)) {
    margin-right: -75%;
}

.cover-pile img:is(:nth-child(2)):hover {
    margin-left: -10%;
} */