.project {
    padding: 0;
    background-color: var(--bg-secondary);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 1em;
    border: 1px solid hsl(from var(--gray-200) h s l / 0.5);
    text-decoration: none;
    transition: background-color 1s var(--card-ease), border-color 1s var(--card-ease), box-shadow 1s var(--card-ease);
    overflow: hidden;

    @supports (corner-shape: squircle) {
        border-radius: 2em;
        corner-shape: squircle;
    }

    h3 {
        margin-block: 0.25rem 0.5em;
    }

    p {
        color: var(--text-color-secondary);
    }

    > * {
        align-self: start;
    }

    .illustration {
        border-radius: 0;
        box-shadow: none;
    }
}

.project .description {
    padding: 1em 2em;
}

.product-name {
    font-size: 0.875em;
    color: var(--text-color-secondary);
}


.color-coded:hover {
    background-color: var(--bg-color);
    border-color: var(--outline-color);

    .icon-wrapper {
        box-shadow: 0 8px 12px hsl(from var(--core-color) h s l / 0.1);
    }
}

.link-block:hover .jumping-icon {
    fill: var(--core-color);
    animation: icon-jump 0.5s cubic-bezier(.4,0,.2,1);
}

@keyframes icon-jump {
  0%   { transform: translateY(0); }
  35%  { transform: translateY(-0.5em); }
  60%  { transform: translateY(0); }
  80%  { transform: translateY(-0.2em); }
  100% { transform: translateY(0); }
}