@import url('styles.css');

blockquote {
    --brand-color: var(--outline-color);

    margin: 4em 0;
    text-align: center;
    font-style: italic;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 5em;
        height: 0.125em;
        border-radius: 1em;
        background-color: var(--brand-color);
        margin: 2em auto;
    }

    & .quote-source {
        display: block;
        margin-top: 1em;
        font-size: 0.875em;
        color: var(--text-color-secondary);
        font-style: normal;
    }
}

blockquote + blockquote {
    margin-top: 0;

    &::before {
        display: none;
    }
}

blockquote:has(+ blockquote) {
    margin-bottom: 1.5em;

    &::after {
        display: none;
    }
}

.illustration-with-caption {
    display: flex;
    flex-direction: column;
    margin-block: 3em;

    justify-self: center;

    figcaption {
        font-size: 0.75em;
        color: var(--text-color-secondary);
        text-align: center;
        margin-top: 1em;
    }
}

h2 + h3 {
    margin-top: 1em;
}

.data-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    gap: 1.5em;

    p,
    ul {
        margin: 0;
    }

    .label {
        font-size: 0.875em;
        /* color: var(--text-color-secondary); */
        margin-block-end: 0.25rem;
        font-weight: bold;
    }

    .label + ul {
        margin-block: 0.5em;
    }
}

.data-row + p,
.data-row:has(+ p),
p + .data-row {
    margin-block-start: 1.5em;
}

.data-row + img.illustration {
    margin-block-start: 2em;
}

.note {
    font-size: 0.875em;
    background-color: var(--bg-color);
    padding: 1em 1.5em;
    margin-block: 2em;
    border-radius: 0.5rem;
    outline: var(--outline-color) 1px solid;
    display: flex;
    gap: 1.5em;

    &::before {
        content: "💡";
        font-size: 2em;
    }
}

.note.nda{
    &::before{
        content: "🙈";
    }
}

.illustration-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em 2em;
    grid-column: breakout-start / breakout-end;
    max-width: 120ch;
    justify-self: center;
    margin-block: 2em 3em;
    
    img {
        margin: 0;
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-column: content-start / content-end;
    }

    .illustration-with-caption {
        margin-block: 0;
    }
}

.subtitle {
    margin-block-start: 1.5em;
}

.project-header {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 2.5em 4em;

    align-items: center;
    justify-self: center;
    grid-column: breakout-start / breakout-end;
    max-width: 120ch;

    @media screen and (min-width: 1001px) and (max-width: 1400px) {
        margin-right: -20rem;
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-column: content-start / content-end;
    }
}

.impact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25em;
    margin-block-start: 1.5em;

    .impact-card {
        border-radius: 1em;
        border: 1px solid light-dark(var(--gray-200), var(--gray-600));
        padding: 1.5em 2em;

        h3 {
            margin-block-start: 0;
        }

        ul {
            margin-block: 1em 0;
        }
    }
}

