/* Global styles + styles for elements in the home page */

@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url(./color-palette.css);

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Mona Sans", sans-serif;

    &:focus-visible {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }
}

:root {
    --bold: 600;

    --bg-main: var(--gray-0);
    --bg-secondary: var(--gray-100);
    --text-color: var(--gray-800);
    --text-color-secondary: var(--gray-600);
    --text-color-inverted: var(--gray-0);

    --shadow: 
        0 8px 12px hsl(from var(--gray-800) h s l / 0.05);
    --shadow-images:
        0 8px 20px hsl(from var(--gray-800) h s l / 0.05),
        0 0px 2px hsl(from var(--gray-800) h s l / 0.15);

    /* font-size: clamp(1rem, 1.25vw, 1.25rem); */
    font-size: 1rem;
    box-sizing: border-box;
    line-height: 1.5;
    word-wrap: break-word;

    --card-ease: cubic-bezier(0.165, 0.84, 0.44, 1);

    --icon-size: 2em;

    --focus-outline: var(--primary-500) 3px solid;
    --focus-outline-offset: 4px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    color: var(--text-color);
}


/* Content area */

.content-area {
    --content-max-width: 70ch;
    --padding-inline: max(2em, 5vw);

    display: grid;
    grid-template-columns: [page-start] minmax(var(--padding-inline), 1fr) [breakout-start] 2fr [content-start] min(var(--content-max-width), 100% - var(--padding-inline)*2) [content-end] 2fr [breakout-end] minmax(var(--padding-inline), 1fr) [page-end];
    justify-self: center;
    width: 100%;
}

.page-area {
    /* Vertical division of the page */
    min-height: 100dvh;
    /* making the footer always stick to the bottom */
    grid-template-rows: auto 1fr auto;
}

.content-area > * {
    grid-column: content-start / content-end;
}

.breakout {
    grid-column: breakout-start / breakout-end;
    /* max-width: 120ch; */
}

.full-width {
    grid-column: page-start / page-end;
}


/* Main styles */

 h1, h2, h3, strong {
    font-weight: var(--bold);
}

h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    max-width: 40ch;
}

h2 {
    font-size: 1.5rem;
    margin-block-start: 3em;
}

h3 {
    font-size: 1.25rem;
    margin-block-start: 3em;
}

h1 + p {
    margin-top: 0.5em;
}

h2 + p,
h2 + ul,
h2 + ol,
h2 + .note {
    margin-top: 1.5rem;
}

h3 + p,
h3 + ul,
h3 + ol {
    margin-top: 1rem;
}

ul + .img-grid,
ol + .img-grid,
ul + img,
ol + img {
    margin-block-start: 3rem;
}

p + p,
a + p {
    margin-top: 1rem;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;

    &.illustration {
        border-radius: 1em;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        /* box-shadow: var(--shadow-images); */

        @supports (corner-shape: squircle) {
            border-radius: 2em;
            corner-shape: squircle;
        }
    }
}

p + ul,
p + ol {
    margin-block-start: 0;
}

abbr {
    text-decoration: none;
}

.visually-hidden {
    display: none;
}

section {
    padding-block-start: 6em;

    h2 {
        margin-top: 0;
    }
}

main p + ul,
main p + ol {
    margin-block-start: 1.5em;
}

main ul, 
main ol {

    li {
        margin-block-end: 0.5em;
        margin-inline-start: 1.5em;
    }
}


/* Main nav */

.floating-nav {
    z-index: 1000;
    font-size: 0.875em;
    padding: 0.25em;
    background-color: var(--bg-main);
    border-radius: 0.75em;
    outline: 1px solid var(--gray-200);
    box-shadow: var(--shadow);
    position: fixed;
    top: -10em;
    left: 50%;
    transform: translateX(-50%);
    animation: nav-slide-in 1s cubic-bezier(.4,0,.2,1) 0.5s forwards;

    @supports (corner-shape: squircle) {
        border-radius: 4em;
        corner-shape: squircle;
    }

}


/* Menu items */

.floating-nav,
.in-pade-nav {
    ul {
        list-style-type: none;
        padding: 0;
        display: inline-flex;
        gap: 0.25em;
    }

    li a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 0.5em 1.25em;
        height: 100%;
        border-radius: 0.5em;
        align-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;

        @supports (corner-shape: squircle) {
            border-radius: 4em;
            corner-shape: squircle;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;        
        }
    }

    li::after {
        content: "";
        display: block;
        background-color: var(--text-color);
        position: relative;
        bottom: 0.5em;
        width: calc(100% - 4em);
        transform: scaleX(0);
        margin-inline: 2em;
        height: 0.25em;
        border-radius: 1em;
        transition: transform 0.3s ease;
    }

    li:hover::after {
        transform: scaleX(1);
    }
}

@keyframes nav-slide-in {
    from {
        top: -10em;
        opacity: 0;
    }
    to {
        top: 1em;
        opacity: 1;
    }
}

.floating-nav .current-menu-item {
    background-color: var(--text-color);
    color: var(--text-color-inverted);

    &:hover {
        text-decoration: none;
    }
}

.in-pade-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    margin-block: 1.5em;

    --portrait-size: 2.5em;

    .logo {
        display: flex;
        align-content: center;
        align-items: center;
        gap: 0.75em;
        
        p {
            margin: 0;
            /* font-weight: var(--bold); */
        }
    }

    .portrait {
        border-radius: 50%;
        width: var(--portrait-size);
        height: var(--portrait-size);
    }

    ul {
        font-size: 0.875em;
    }
}

/* Burger menu */

.burger {
    min-height: 40px;
    min-width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background: none;
    border: none;
    border-radius: 4em;
    cursor: pointer;
    padding: 0.625rem;
    transition: background-color 0.3s ease;
    z-index: 1002;

    &:hover {
        background-color: var(--gray-150);
    }

    .line {
        height: 2px;
        background: var(--gray-800);
        border-radius: 999px;
        transition: all 0.35s ease;
        transform-origin: center;
    }
    
    .line1 {
        width: 20px; /* 20px */
    }
    
    .line2 {
        width: 12px; /* 12px */
    }
    
    .line3 {
        width: 16px; /* 16px */
    }

    &.open {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 1.5rem;
        right: 2rem;
    
        &:hover {
            background-color: var(--gray-700);
        }
    
        .line {
            background: var(--gray-0);
        }
    
        .line1 {
            width: 20px; /* 20px */
            transform: translateY(2px) rotate(45deg);
        }
        
        .line2 {
            opacity: 0;
            transform: scaleX(0);
        }
        
        .line3 {
            width: 20px; /* 20px */
            transform: translateY(-2px) rotate(-45deg);
        }
    }
}

@media screen and (max-width: 640px) {
  .burger {
    display: flex;
  }

  .in-pade-nav {
    ul {
        display: none;
    }
  }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gray-800);
    visibility: hidden;
    transition: visibility .6s step-end;
    animation: .6s cubic-bezier(.165,.84,.44,1) forwards swipeOut;
    display: flex;
    z-index: 1001;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-weight: var(--bold);
    letter-spacing: 7%;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}

.mobile-menu li {
    margin: 2em 0;
}

.mobile-menu a {
    color: var(--gray-0);
    text-decoration: none;
}

.mobile-menu.open {
    visibility: visible;
    transition: visibility .6s step-start;
    animation: .6s cubic-bezier(.165,.84,.44,1) forwards swipeIn;
    display: flex;
}

@keyframes swipeIn {
    0% {
        clip-path: polygon(101% 0%,100% 0%,101% 100%,116% 100%)
    }

    to {
        clip-path: polygon(0% 0%,101% 0%,101% 101%,0% 101%)
    }
}

@keyframes swipeOut {
    0% {
        clip-path: polygon(0% 0%,101% 0%,101% 101%,0% 101%)
    }

    to {
        clip-path: polygon(105% 0%,100% 0%,101% 100%,100% 100%)
    }
}


/* Header */

header {
    padding-block-start: 5em;
}

.main-header {
    margin-block-end: 6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/assets/dots-bg.svg') no-repeat center;

    
    h1 {
        max-width: 30ch;
        text-wrap: balance;
    }
    
    p {
        max-width: 40ch;
        font-size: 1.25em;
        text-wrap: pretty;
    }

    .project-tags {
        justify-content: center;
    }
}

img.sticker {
    width: 5.5rem;
    height: auto;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.05));

    &:nth-of-type(2n+1) {
            transform: rotate(10deg);
        }
    
    &:nth-of-type(2n) {
        transform: rotate(-7deg);
    }
}

@media screen and (min-width:880px) {
    
    img.sticker {
        position: absolute;
    
        &:nth-of-type(1),
        &:nth-of-type(3) {
            left: calc(50vw - 360px);
        }
    
        &:nth-of-type(2) {
            left: calc(50vw - 385px);
        }
    
        &:nth-of-type(4),
        &:nth-of-type(6) {
            left: calc(50vw + 290px);
        }
    
        &:nth-of-type(5) {
            left: calc(50vw + 325px);
        }
    
        &:nth-of-type(2),
        &:nth-of-type(5) {
            top: 235px;
            z-index: 2;
        }
    
        &:nth-of-type(3),
        &:nth-of-type(6) {
            top: 300px;
            z-index: 3;
        }
    }
}

@media screen and (max-width:880px) {
    
    .stickers {
        display: flex;
        flex-direction: row;
        margin-block-end: 2em;
    }
    
    img.sticker {
        margin-inline: -0.75em;
        width: 4.5rem;
    }
}

@media screen and (max-width:480px) {
    
    img.sticker {
        width: 4rem;
    }
}




.main-header + section {
    padding-block-start: 0;
}


/* About */

.about-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: clamp(3em, 5vw, 5em);
    align-items: start;
    margin-block-start: 1.5em;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;

        .about-photo {
            display: none;
        }
    }
}


/* Links */

.link {
    font-size: 0.875em;
    color: var(--text-color);
    text-decoration: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border: 1px solid var(--gray-200);
    padding: 0 0.25em 0.0625em 1.625em;
    margin-inline-end: 0.125em;
    border-radius: 0.25em;
    position: relative;
    --favicon-url: none;

    @supports (corner-shape: squircle) {
        border-radius: 1em;
        corner-shape: squircle;
        padding-right: 0.375em
    }
    
    &::before {
        content: "";
        position: absolute;
        left: 0.125em;
        top: 0.125em;
        width: 1.25em;
        height: 1.25em;
        border-radius: 0.125em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--favicon-url);

        @supports (corner-shape: squircle) {
            border-radius: 1em;
            corner-shape: squircle;
        }
    }

    &:hover {
        border-color: var(--gray-300);
        background-color: var(--gray-100);
    }

    /* &[target="_blank"]::after {
        content: "↗";
        display: inline-block;
        margin-inline: 0.125em;
        position: relative;
        top: 0.15em;
        transition: transform 0.3s ease;
    }

    &[target="_blank"]:hover::after {
        transform: rotate(45deg);
    } */
}

.link-block {
    background-color: var(--bg-secondary);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    border-radius: 1em;
    border: 1px solid hsl(from var(--gray-200) h s l / 0.5);
    padding: 1.5em 2em;
    text-decoration: none;
    align-items:center;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;

    @supports (corner-shape: squircle) {
        border-radius: 2em;
        corner-shape: squircle;
    }

    .original-icon {
        position: relative;
        top: -2em;
        opacity: 1;
    }

    .replacement-icon {
        position: relative;
        top: -1.5em;
        opacity: 0;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        p:is(:nth-child(2)) {
            padding-block-start: 0.25em;
            font-size: 0.875em;
        }
    }

    .link-title {
        font-weight: var(--bold);
        color: var(--text-color);
        font-size: 1rem;
        margin-block-end: 0.25em;
    }

    &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: var(--gray-150);

        .original-icon {
            top: -0.5em;
            opacity: 0;
        }

        .replacement-icon {
            top: 0;
            opacity: 1;
        }
    }
}

.icon-wrapper {
    height: calc(var(--icon-size) * 2);
    width: calc(var(--icon-size) * 2);
    padding: calc(var(--icon-size) / 2);
    background-color: var(--bg-main);
    border-radius: 4rem;
    outline: 1px solid hsl(from var(--gray-200) h s l / 0.5);

    box-shadow: var(--shadow);
    transition: box-shadow 0.3s ease;

    .icon {
        fill: var(--gray-600);
        display: block;
        width: var(--icon-size);
        height: var(--icon-size);
        transition: all 0.3s ease;
    }
}

.link-block + p {
    margin-top: 2em;
}

p + .link-block {
    margin-top: 2em;
}


/* Skip link */

.skiplink {
    position: absolute;
    top: -1000px;
    left: -1000px;
    background-color: var(--gray-800);
    color: var(--gray-0);
    padding: 1em 1.5em;
    z-index: 1000;
}

.skiplink:focus {
    top: 0;
    left: 0;
}


/* Portfolio */

.project-tags {
    margin-block: 0.75em 1em;
    display: flex;
    gap: 0.5em;
    font-size: 0.875em;
    flex-wrap: wrap;
}

p + .project-tags {
    margin-top: 1.5em;
}

.project-tag {
    padding: 0.25em 0.75em;
    border: 1px solid var(--gray-200);
    border-radius: 0.5em;
    background-color: var(--bg-main);

    @supports (corner-shape: squircle) {
        border-radius: 1em;
        corner-shape: squircle;
    }
}

.portfolio-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(35rem, 100%), 1fr));
    margin-block-start: 1.5em;
}

/* Dribbble shots */

.dribbble-shots {
    h3 {
        margin-block-start: 0;
    }

    .link-block.dribbble {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-block: 3em;

    transition: all 0.3s ease;
}

}

.dribbble-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 1em;

  margin-block-start: 1.5em;

  @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.dribbble-grid img {
  transition: transform 1s var(--card-ease);
}

.dribbble-grid a:not(.link-block.dribbble) {
    display: block;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid hsl(from var(--gray-200) h s l / 0.5);
    transition: all 0.3s ease;

    @supports (corner-shape: squircle) {
        border-radius: 2em;
        corner-shape: squircle;
    }

    .icon-wrapper {
        position: absolute;
        top: 0.5em;
        right: 0.25em;
        margin-inline: auto;

        opacity: 0;
        transform: scale(0.6);
        transition: all 0.5s ease;
    }
}

.dribbble-grid a:not(.link-block.dribbble):hover {
    img {
        transform: scale(1.03);
    }

    .icon-wrapper {
        opacity: 1;
        top: 0.25em;
    }
}

.dribbble-grid img {
  width: 100%;
  display: block;
}

.dribbble-grid-error {
  text-align: center;
  padding: 40px 0;
  font-family: sans-serif;
  background-color: var(--gray-100);
  border-radius: 1em;

    @supports (corner-shape: squircle) {
        border-radius: 2em;
        corner-shape: squircle;
    }
}

/* Cards */

.project {
    padding: 0;
    background-color: var(--bg-secondary);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 1em;
    border: 1px solid hsl(from var(--gray-200) h s l / 0.5);
    text-decoration: none;
    transition: background-color 1s var(--card-ease), border-color 1s var(--card-ease), box-shadow 1s var(--card-ease);
    overflow: hidden;

    @supports (corner-shape: squircle) {
        border-radius: 2em;
        corner-shape: squircle;
    }

    h3 {
        margin-block: 0.25rem 0.5em;
    }

    p {
        color: var(--text-color-secondary);
    }

    > * {
        align-self: start;
    }

    .illustration {
        border-radius: 0;
        box-shadow: none;
    }
}

.project .description {
    padding: 1em 2em;
}

.product-name {
    font-size: 0.875em;
    color: var(--text-color-secondary);
}

.color-coded:hover {
    background-color: var(--bg-color);
    border-color: var(--outline-color);

    .icon-wrapper {
        box-shadow: 0 8px 12px hsl(from var(--core-color) h s l / 0.1);
    }
}

/* Contacts */

.contacts-grid {
    display: grid;
    grid-template-columns: 1fr 8em 8em 8em;
    list-style: none;
    gap: 1em;

    li {
        margin: 0;
    }
}


@media screen and (max-width: 1000px) {
    .contacts-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    li:has(.email-link) {
        grid-column: span 3;
    }
}

@media screen and (max-width: 480px) {
    .contacts-grid {
        display: flex;
        flex-direction: column;
    }

    .link-block:has(.icon-wrapper) {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-block: 2.5em;
    }
}

.social {
    justify-content: center;
    align-items: center;
    height: 100%;

    &:hover {
        background-color: var(--bg-color);
        border-color: var(--outline-color);
        
        .icon {
            fill: var(--core-color);
        }
    }

    .icon {
        width: 3em;
        height: 3em;
        fill: var(--gray-500);
        transition: fill 0.3s ease;

    }
}

.link-block:hover .jumping {
    fill: var(--core-color);
    animation: icon-jump 0.8s cubic-bezier(.4,0,.2,1);
    transform-origin: center bottom;
}

.link-block:hover .wiggling {
    fill: var(--core-color);
    animation: icon-wiggle 0.8s cubic-bezier(.4,0,.2,1);
    transform-origin: center bottom;
}

@keyframes icon-jump {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-0.5em) scale(0.95, 1.05); }
    40%  { transform: translateY(0) scale(1.025, 0.95); }
    55%  { transform: translateY(-0.2em) scale(0.97, 1.025); }
    70% { transform: translateY(0); }
    90%  { transform: translateY(-0.05em) scale(0.99, 1.0125); }
    100% { transform: translateY(0) scale(1, 1); }
}

@keyframes icon-wiggle {
    0%   { transform: rotate(0deg); }
    20%  { transform: rotate(-5deg); }
    40%  { transform: rotate(4deg); }
    60%  { transform: rotate(-3deg); }
    80%  { transform: rotate(1deg); }
    90%  { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}


/* Footer */

.footer {
    font-size: 0.875em;
    color: var(--text-color-secondary);
    margin-block: 4em 0.5em;
    width: 100%;
    display: flex;
}